@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Press Start 2P", system-ui; */
  background-color: black; /* Full black background */
  overflow: hidden; /* Prevents scrolling */
  background: radial-gradient(ellipse at bottom, #1b2735 10%, #090a0f 100%);
}

/* style for input field */
/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50px;
} */

.start-input {
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  width: 150px;
  background: transparent;
  /* background-color: black;  */
  color: white; /* Ensure text is white */
  outline: none;
}

.start-input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Light gray placeholder */
  opacity: 1; /* Ensure placeholder is visible */
}

.welcome-screen {
    position: fixed; /* Ensure it covers the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    /* background-color: black; */
    color: white; /* Text color */
    font-size: 1.5rem; /* Adjust font size */
    padding: 20px;
    animation: fadeInOut 5s ease-in-out forwards;
}

.welcome-screen-p{
  font-size: 0.8rem;
  font-weight: 100;
  /* text-align: center; */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeInOut 12s ease-in-out forwards;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures full-screen height */
  width: 100vw; /* Ensures full-screen width */
  /* background-color: black; */
  background: transparent url('public/stardust.png') repeat;
  color: white;
  position: relative;
  padding-top: 50px; /* Space for title */
  animation: moveStardust 500s linear infinite;

}

@keyframes moveStardust {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

.title {
  font-size: 4rem ; 
  color: white;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: 20px 0;
  position: fixed; /* Fixes it at the top */
  top: 10px; /* Keeps some spacing from the top */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Ensures perfect centering */
  width: 100%;
}

/* .title:hover{
  color: #ff4800;
} */
/* Center the number */
.counter {
  color: white;
  font-size: 6rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  /* text-shadow: 0 0px 30px #2df705; */
}

/* Button styles */
button {
  /* font-size: 1.5rem; */
  width: 0px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px; /* Keep buttons at bottom */
}

/* .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 20px;
} */

/* reset button style */
.reset-icon {
 position: absolute;
  top: 91px;
  right: 30px;
  color: white;
  /* bottom: 500px; */
  font-size: 1.3rem; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.info-icon2{
  position: absolute;
  font-size: 1.3rem; 
  top: 91px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  }

.reset-icon:hover {
  transform: rotate(360deg); /* Cool rotation effect */
  color: #ff4800; /* Highlight color on hover */
}

.info-icon2:hover{
  color: #ff4800;
}

/* info icon modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.751);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background: rgba(45, 45, 45, 0.781);
  padding: 20px;
  color: #f7f6f6;
  border-radius: 22px;
  text-align: center;
  width: 650px;
  position: relative ;
}

.about-text{
  text-align: left;
}

hr{
  border: none;
  height: 2px;
  background-image: repeating-linear-gradient(
    to left,
    #ff4800 0 2px,   /* dash */
    rgba(45, 45, 45, 0.781) 50px 20px  /* gap */
  );  
  /* border-top: 1px dashed #888; */
  /* background-color: rgba(45, 45, 45, 0.76); */
  margin: 0;
  width: 90%;              
  align-self: center;
}

.close-btn {
  /* margin-bottom: 260px;
  margin-left: 272px; */
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 15px 15px; 
  height: 0;
  background: rgba(45, 45, 45, 0.144);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 11px;
  /* z-index: 1; */
}


/* Position "-" button on the left */
.minus {
  left: 35px;
  bottom: 150px;
  font-size: 1.4rem;
}

/* Position "+" button on the right */

.plus {
  right: 35px;
  bottom: 150px;
  font-size: 1.4rem;
}

/* Hover effect */  
button:hover {
  background-color: #ff4800;
}

.timer-section {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.timer-display {
  font-size: 22px;
}

.pause-btn {
  text-align: center;
  
  background-color: rgba(58, 58, 58, 0.532);
  color: white;
  border: none;
  /* left: 400px; */
  padding: 10px 25px;
  margin-bottom: 100px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
}

.pause-btn:hover{
  background-color: #ff4800;
}


/* Model style */
/* .modal-overlay {
  position: fixed;
  top: 50%;
  left: 38%;
      background-color: rgba(0, 0, 0, 0.767); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #333333b9;
  padding: 5px 15px;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(255, 64, 0, 0.968);
}

.modal-buttons {
  font-size: 0.7rem;
  justify-content: center;
  gap: 0px;
  margin-top: 0;
  flex-wrap: wrap;              
}

.modal-btn {
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.modal-btn.confirm {
  top: 200%;
  
  box-shadow: 0 5px 10px #ff1212;
}

.modal-btn.cancel {
  top: 200%;
  right: 0px;
  box-shadow: 0 5px 10px #2df705;

}

.modal-btn:hover.confirm {
  background-color: #2e0000; 
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px); 
}

.modal-btn:hover.cancel {
  background-color: #042e00;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
} */

/* Cycle Completion Message */
.cycle-message {
  font-size: 1.8rem;
  color: #ff4800;
  position: absolute;
  top: 140px;
  text-align: center;
  width: 100%;
  animation: fadeInOut 5s ease-in-out;
}

/* Small Filled Dots for Completed Cycles */
.cycle-dots {
  display: flex;
  justify-content: center;
  align-items: center;  /* Centers the dots vertically (if needed) */
  gap: 10px;
  margin-top: 70px;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #ff4800;
  border-radius: 50%;
  /* margin: 0 5px; */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
}

.footer {
  position: fixed;
  bottom: 2px;
  width: 100%;
  /* padding: 10px 0; */
  text-align: center;
  color: white;
  font-size: 0.7rem;
  opacity: 0.3;
}

.name{
  font-size: 1rem;
  text-shadow: 0 3px 2px #f72905;

}

.footer .name {
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer .name:hover {
  color: #fb8686;

}

@font-face {
  font-family: 'Samarkan';
  src: url('./assets/fonts/SamarkanNormal-Gg5D.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.samarkan-text {
  font-family: 'Samarkan', sans-serif;
}
/* Fade In and Out Animation for Message */
@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

/* Fully responsive: Adjusts button positions & size on smaller screens */

@media (max-width: 768px) { /* Tablets & smaller screens */
    
  .title{
    font-size: 3rem;
  }
  .welcome-screen 
    {
        font-size: 1.2rem;
        padding: 15px;
    }
    .modal {
      font-size: 0.8rem;
      width: 330px;
    }
    .cycle-message {
      font-size: 1.4rem;
      top: 120px;
    }

}

@media (max-width: 480px) { /* Mobile devices */

    .title
    {
      font-size: 2.5rem;
    }

    .reset-icon,.info-icon2{
      /* right: 20px; */
      top: 75px;
    }
    .welcome-screen
    {
        font-size: 1rem;
        padding: 10px;
    }
    .welcome-screen-p
    {
      font-size: 0.7rem;
    }
    .cycle-message {
      font-size: 1.3rem;
      top: 110px;
    }
  }



